<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
<title>Livraison &mdash;</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link
	href="https://fonts.googleapis.com/css?family=Rubik:300,400,700|Oswald:400,700"
	rel="stylesheet">

<link rel="stylesheet" href="fonts/icomoon/style.css">

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/jquery.fancybox.min.css">
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
<link rel="stylesheet" href="css/aos.css">





<!-- MAIN CSS -->
<link rel="stylesheet" href="css/style.css">

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<style>
.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.success {
	color: #FFA500;
}

.failed {
	color: #FF6347;
}
</style>
<script type="text/javascript" th:inline="javascript">    
</script>
</head>

<script type="text/javascript">
$(document).ready(function () {

    $("#passwordforgot").submit(function (event) {

       //stop submit the form, we will post it manually.
        event.preventDefault();

        fire__ajax__submit();

    });

});

function fire__ajax__submit() {
	var data = {
			 "token": $("#token").val(),
		       "password": $("#password").val(),
		       "confirmPassword":$("#confirmPassword").val(),
		    	
		      };
	var hh=$('#confirmPassword').val();
	alert($("#password").val());
	
	alert(hh);
	
var token = $("meta[name='_csrf']").attr("content");
	  var header = $("meta[name='_csrf_header']").attr("content");
	  $(document).ajaxSend(function(e, xhr, options) {
	      xhr.setRequestHeader(header, token);
	  });
	$.ajax({
        type: "POST",
        contentType: "application/json; 	",
        
        
        url : "/reset",
       
        data: JSON.stringify(data),
        dataType: 'text',
        cache: false,
        timeout: 600000,
        success: function (data) {
        	
        	
        	$("#errorMessageConfirm").addClass( "success text-center" );
            $("#errorMessageConfirm").html("mot de passe modifié avec succès!.");
          //  $("#errorMessageConfirm").addClass( "alert alert-success d-none text-center" )
            $('#errorMessageConfirm').modal('toggle');
            setTimeout(function(){	$("#formSuccess").hide('slow'); }, 2000);
        	},
        
        error: function (e) {
        	//console.log(e.responseText);
        	alert(e.response);
        	
           //$("#errorMessageConfirm").removeClass( "alert alert-success d-none text-center" );
            $("#errorMessageConfirm").addClass( "failed text-center" );
            //$('#errorMessageConfirm').modal('toggle');
            $("#errorMessageConfirm").html(e.responseText);
            setTimeout(function(){	$("#formSuccess").hide('slow'); }, 2000);
    	}
            
     
    });
	}
	</script>
</head>

<body>
<body data-spy="scroll" data-target=".site-navbar-target"
	data-offset="300">

	<div id="overlayer"></div>
	<div class="loader">
		<div class="spinner-border text-primary" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>

	<div class="site-wrap" id="home-section">

		<div class="site-mobile-menu site-navbar-target">
			<div class="site-mobile-menu-header">
				<div class="site-mobile-menu-close mt-3">
					<span class="icon-close2 js-menu-toggle"></span>
				</div>
			</div>
			<div class="site-mobile-menu-body"></div>
		</div>


		<div class="top-bar" th:insert="bar.html"></div>
		<header class="site-navbar js-sticky-header site-navbar-target"
			role="banner" th:insert="Header.html"> </header>
	</div>
	<div class="container">

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form th:action="@{/reset}" th:method="post" id="passwordforgot"
					th:object="${changePassword}">
					<fieldset id="field2" class="col-md-10">
						<legend> réinitialiser le mot de passe </legend>

						<div class="panel panel-default">
							<div class="panel-body" id="panel-body">
								<input type="hidden" th:value="${resetToken}" id="token"
									name="token" />
								<div class="form-group">

									<input class="form-control"
										placeholder="tapez votre nouveau mot de passe" type="password"
										id="password" name="password" value="" />

								</div>
								<div class="form-group">

									<input class="form-control"
										placeholder="confirmer votre mot de passe" type="password"
										id="confirmPassword" name="confirmPassword" value="" />

								</div>

								<div class="form-group">
									<button type="submit" class="btn btn-warning displayed">Enregistrer</button>
									<div></div>

								</div>
							</div>
							<p id="errorMessageConfirm"></p>
					</fieldset>
				</form>

			</div>
		</div>
	</div>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.animateNumber.min.js"></script>
	<script src="js/jquery.fancybox.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/aos.js"></script>

	<script src="js/main.js"></script>
</body>

</html>
